/* ProductPage.css */

/* Define the font-face for Space */
@font-face {
  font-family: "space";
  src: url("./assets/space.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Apply the font globally or to specific elements */
body {
  font-family: "space", sans-serif;
}

.text-style {
  font-family: "space", sans-serif;
  color:black; /* Optional: Ensure consistent text color */
  font-weight: bold;
}
